.school
{
    background-color: rgb(255, 136, 0);
    text-align: center;
}
.school2
{
    background-color: white;
    text-align: center;

}
#school3
{
    background-color: rgb(34, 245, 34);
    text-align: center;

}